@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i|Roboto+Mono:400,400i,500,500i');

h1, h2, h3, h4, h5, h6, .book-summary {
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: -0.02em !important;
}

h1.title {
  font-size: 2.5em !important;
}

.book.font-family-0 {
  font-family: 'Merriweather', serif !important;
}

.book.font-family-1 {
  font-family: 'Merriweather Sans', sans-serif !important;
}

#header .title {
  margin-bottom: 0em;
}

#header h4.author {
  margin: 0;
  font-size: 1.7em;
}

#header h4.date {
  margin: 0;
  color: #666;
}

#header h4.author em, #header h4.date em {
  font-style: normal;
}


p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 4em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("../img/caution.png");
}
.rmdimportant {
  background-image: url("../img/important.png");
}
.rmdnote {
  background-image: url("../img/note.jpeg");
}
.rmdtip {
  background-image: url("../img/tip.png");
}
.rmdwarning {
  background-image: url("../img/warning.png");
}


/* Sidebar formating --------------------------------------------*/

.sidebar {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdwarning {
  border: 1px solid #EA4335;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

.rmdnote {
  border: 1px solid #FBBC05;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em 4em 1em 4em;
  margin: 1em 0;
}

.rmdtip {
  border: 1px solid #34A853;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}
.book .book-body .page-wrapper .page-inner section.normal div.rmdwarning > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdnote > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdtip > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.rmdwarning > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdnote > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.rmdtip > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child {
  margin-bottom: 0;
}

div.rmdwarning::before {
  display: block;
  content: "Warning: ";
  color: #EA4335;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

div.rmdnote::before {
  display: block;
  content: "Note: ";
  color: #FBBC05;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

div.rmdtip::before {
  display: block;
  content: "Tip: ";
  color: #34A853;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.todo {
  display: block;
  border: 1px solid #4285f4;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.todo::before {
  content: "TO DO: ";
  font-weight: bold;
  color: #4285f4;
}

.flushright {
  text-align: right;
}


blockquote {
  width: 80%;
  margin: 2em auto !important;
}

blockquote p {
  color: #ce253e;
  text-align: right;
}

blockquote > p:last-child {
  font-size: 14px !important;
  margin-top: -1em !important;
}

blockquote > p:first-child {
  text-align: inherit;
  font-style: italic;
}


.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}